{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block content %}
<h1>Register</h1>
<form method="post" action="/register/">
    {% csrf_token %}
    {% for field in form %}
    <label>{{ field.label }}</label>
    {{ field }}
    {% if field.help_text %}
    <span class="helptext">{{ field.help_text }}</span>
    {% endif %}
    {% if field.errors %}
    <ul class="errorlist">
        {% for error in field.errors %}<li>{{ error }}</li>{% endfor %}
    </ul>
    {% endif %}
    {% endfor %}
    <button type="submit">Create Account</button>
</form>
<div class="link-row">
    Already registered? <a href="/login/">Login</a>
</div>
{% endblock %}